*{
    margin: 0;
    padding: 0;
}

.dau{
    display: flex;
    margin: 15px;
}
.ngan {
    display: flex;
}
img {
    width: 100px;
    height: 100px;
}
h3 {
    color: orangered;
}
h1 {
    color: rgb(146, 209, 52);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h4 {
    color: rgb(165, 152, 32);
}
ul {
    list-style-type: square;
    color: red;
    margin-left: 20px;
}
a{
    text-decoration: none;
}
._3cot {
    display: flex;
    justify-content: space-around;
}
._1cot img{
border-radius: 10px;  


}
._1cot{
    border:  2px solid red;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px grey;
    overflow: hidden;
    
}
._1cot img:hover{
    transform: scale(2);
}